/* hero section  */

.heroSection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6%;
  padding-bottom: 6%;

  border-top: solid 1px rgba(85, 96, 124, 0.2);
}

.heroContainer {
  padding-right: 8%;
  padding-left: 8%;
  max-width: 100%;
}

.badgeOuter {
  border: solid 1px rgba(85, 96, 124, 0.3);
  border-radius: 30px;
  padding: 7px;
  width: fit-content;
  color: var(--primaryColor);
}

.innerBadge {
  border-radius: 15px;
  background-color: var(--primaryColor);
  padding: 3px 10px;
  width: fit-content;
  color: white;
  font-size: 15px;
  margin-right: 15px;
}

.badgeContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.badgeText {
  font-weight: 500;
}

.badgeArrow {
  margin: 0 15px;
}

.heroHeading {
  font-size: 60px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  letter-spacing: -2px;
  max-width: 80%;
  margin-top: 3%;
}

.heroPara {
  font-size: 20px;
  color: var(--textColor);
  max-width: 60%;
  margin-top: 5%;
}

.searchIcon {
  color: var(--textColor);
}

.searchRow {
  max-width: 80%;
  margin: 3% 0 5% 0;
}

.inputDiv {
  border-radius: 15px;
  border: solid 1px rgba(85, 96, 124, 0.3);
  width: fit-content;
  padding: 5px 5px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btnContainer {
  max-width: fit-content;
}

.checkIcon {
  color: var(--primaryColor);
  margin-top: 3px;
}

.checkRow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkCol {
  width: fit-content;
  font-size: 20px;
  color: var(--textColor);
  margin-right: 18px;
}

.heroImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroImg {
  width: 90%;
}

.vline {
  width: 2px;
  border-right: solid 1px rgba(85, 96, 124, 0.3);
  height: 25px;
}

/* portfolio */

.portfolioSection {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bgColor);
}

.portfolioContainer {
  max-width: 100%;
  text-align: center;
  padding-bottom: 80px;
}

.portfolioPara {
  color: var(--textColor);
  margin: 80px 0 30px;
  font-size: 20px;
}

/* features  */

.featureContainer {
  max-width: 100%;
  text-align: center;
}

.featureBadge {
  color: var(--primaryColor);
  border: solid 2px var(--primaryColor);
  border-radius: 50px;
  width: fit-content;
  margin: auto;
  padding: 10px 20px;
  margin-top: 5%;
}

.featureHeading {
  font-size: 54px;
  margin-top: 1%;
  margin-bottom: 0.8%;
}

.featurePara {
  font-size: 20px;
  color: var(--textColor);
  width: 30%;
  margin: auto;
  margin-bottom: 4%;
  margin-top: 30px;
}

.featureCardRow {
  padding-left: 8%;
  padding-right: 8%;
  justify-content: space-between;
  margin-bottom: 5%;
}

.featureCard {
  border: solid 2px rgba(85, 96, 124, 0.2);
  border-radius: 25px;
  padding: 50px;
  margin: 10px;
  width: 30%;
}

.featureIcon {
  width: 90px;
}

.cardTitle {
  margin-top: 4%;
  margin-bottom: 3%;
}

.cardPara {
  color: var(--textColor);
  font-size: 18px;
}

.cardButton {
  color: var(--primaryColor);
  font-size: 22px;
  margin-top: 2%;
}

.cardButtonContent {
  display: flex;
  align-items: center;
}

.cardButtonArrow {
  margin-left: 10px;
}

/* how it works */

.howWorksContainer {
  max-width: 100%;
  text-align: center;
}

.personalDataCardContaienr {
  margin: auto;
  margin-left: 8%;
  margin-right: 8%;
  border: solid 2px rgba(85, 96, 124, 0.2);
  border-radius: 25px;
  padding: 50px;
  margin-bottom: 4%;
  display: flex;
  align-items: center;
}

.personalDataNumber {
  color: var(--primaryColor);
  margin-bottom: 5%;
  margin-left: 5%;
}

.personalDataHeading {
  margin-bottom: 3%;
  margin-left: 5%;
}

.personalDataPara {
  color: var(--textColor);
  font-size: 20px;
  width: 80%;
  margin-left: 5%;
}

.hLine {
  width: 80%;
  padding: 0;
  margin-left: 6%;
  margin-top: 2%;
  margin-bottom: 3%;
}

.personalDataIconPara {
  margin-left: 5%;
}

.perosnalDataIconParaContent {
  width: 60%;
  font-size: 18px;
  color: var(--textColor);
}

.iconCotainer {
  width: 0.5%;
  margin-right: 20px;
}

.personalDataIconRow {
  margin-left: 5%;
}

.img2 {
  width: 100%;
}

/* steps section  */

.stepsContainer {
  column-gap: 50px !important;
}

.stepRow {
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 4%;
}

.stepContent {
  border-top: solid 5px rgba(85, 96, 124, 0.2);
  color: var(--textColor);
}

.stepNumber {
  font-size: 22px;
  margin-top: 8%;
}

.stepHeading {
  color: black;
}

.stepPara {
  font-size: 18px;
}

.stepContent:hover {
  border-color: var(--primaryColor);
}

.stepContent:hover .stepHeading {
  border-color: var(--primaryColor);
  color: var(--primaryColor);
}

/* job vacancy */

.jobVacancySection {
  background-color: var(--bgColor);
}

.vacancyPara {
  width: 50%;
}
.navPills {
  background-color: white;
  padding: 5px;
  border: solid 1px rgba(85, 96, 124, 0.2);
  border-radius: 15px;
  width: fit-content;
  margin: auto;
}

.tabButton {
  font-size: 20px;
  border-radius: 8px !important;
  color: var(--primaryColor);
}

.tabSectionBottomLinePara {
  font-size: 18px;
  color: var(--textColor);
}

.tabSectionBottomLineLink {
  text-decoration: underline;
  margin-left: 10px;
}

.tabSectionBottomLineLink a {
  color: var(--primaryColor) !important;
}

.tabCardBottomCol {
  display: flex;
  align-items: center;
  font-size: 18px;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 5%;
}

.tabBottomLineArrow {
  color: var(--primaryColor);
}

/* new letter */

.newLetterSection {
  background: linear-gradient(to bottom, var(--bgColor) 50%, white 50%);
  padding-left: 8%;
  padding-right: 8%;
}
.newLetterCotainer {
  background-color: var(--primaryColor);
  border-radius: 25px;
  padding-top: 40px;
  padding-left: 80px;
  margin-bottom: 100px;
}

.newsLetterLeftCol {
  margin-bottom: 70px;
}

.newsLetterHeading {
  color: white;
  font-size: 60px;
  width: 80%;
  margin-bottom: 5%;
}

.newsLetterImgCol {
  display: flex;
}

.newsLetterImg {
  width: 95%;
}

/* media queries */

@media (max-width: 1200px) {
  .heroImg {
    width: 100%;
  }

  .heroHeading {
    font-size: 48px;
  }

  .heroPara {
    font-size: 16px;
  }

  .perosnalDataIconParaContent {
    width: 80%;
    margin-left: 10px;
  }
  .checkIcon {
    margin-top: 3px;
  }

  .newsLetterHeading {
    font-size: 50px;
    width: 95%;
  }
}

@media (max-width: 991px) {
  .heroHeading {
    max-width: 100%;
  }

  .heroPara {
    font-size: 20px;
    margin-top: 1%;
  }

  .featurePara {
    width: 50%;
  }

  .featureCard {
    width: 45%;
    margin: 10px;
  }

  .personalDataNumber {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .newsLetterHeading {
    font-size: 36px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .newLetterCotainer {
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .newsLetterImg {
    width: 100%;
  }

  .newsLetterHeading {
    font-size: 48px;
  }
}

@media (max-width: 575px) {
  .searchRow {
    max-width: 100%;
    margin-bottom: 30px;
  }

  .heroHeading {
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .heroPara {
    max-width: 100%;
  }

  .featurePara {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .featureHeading {
    margin-top: 10px;
    font-size: 48px;
  }

  .featureCard {
    width: 100%;
  }

  .personalDataCardContaienr {
    padding: 5px;
    padding-top: 20px;
  }

  .personalDataPara {
    font-size: 18px;
  }

  .perosnalDataIconParaContent {
    font-size: 16px;
    margin-left: 20px;
  }

  .newsLetterHeading {
    font-size: 36px;
  }
}
