.footerSection {
  background-color: white;
  padding-left: 8%;
  padding-right: 8%;
  margin-bottom: 30px;
}

.logo {
  width: 160px;
}

.footerPara {
  color: var(--textColor);
  font-size: 18px;
  width: 50%;
  margin-top: 20px;
}

.footerCatHeading {
  font-size: 20px;
  color: var(--textColor);
  margin-bottom: 20px;
}

.footerCatPara {
  margin-top: 15px;
  margin-bottom: 0;
  padding: 0;
}

.hrFooter {
  margin-top: 5%;
  margin-bottom: 1.5%;
}

.copyrightPara {
  color: var(--textColor);
}

.socialIconCol a {
  font-size: 28px;
  color: var(--textColor);
}

.link {
  text-decoration: none;
  color: var(--textColor);
}

.footerCatLink {
  text-decoration: none;
  color: black;
}

.footerCatLink:hover {
  color: var(--textColor);
}

.socialIconCol a:hover {
  color: var(--primaryColor);
}

.link:hover {
  color: var(--primaryColor);
}

@media (max-width: 1200px) {
  .footerPara {
    width: 70%;
  }
}

@media (max-width: 991px) {
  .footerPara {
    width: 100%;
  }
}

@media (max-width: 575px) {
  .link {
    margin-left: 15px;
  }

  .footerCatPara {
    margin-top: 10px;
  }

  .footerCatHeading {
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .hrFooter {
    margin-top: 25px;
    margin-bottom: 15px;
  }
}
