.mainNavContainer {
  padding: 1% 3%;
}

.navItem {
  color: black;
  font-size: 18px;
}

.navList {
  margin-right: 4%;
}

.navListContainer {
  width: 70%;
  margin-left: 10%;
}

@media (max-width: 991px) {
  .navListContainer {
    margin-left: 1%;
  }
}
