.mainNavContainer {
  padding: 0.5% 3%;
}

.navItem {
  color: black !important;
  font-size: 18px;
}

.navList {
  margin-right: 4%;
}

.navListContainer {
  width: 70%;
  margin-left: 10%;
}

.navItem:hover {
  color: var(--primaryColor) !important;
}

@media (max-width: 991px) {
  .navListContainer {
    margin-left: 1%;
  }
}
